.canvas_frame {
  position: relative;
  width: 900px;
  height: 700px;
}

.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
}

#masking {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  z-index: 3;
}
